@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    /* background: #ddd; */
}
.l-heading{
    font-size: 5rem;
    text-align: center;
    color: rgb(156, 240, 123);
    /* font-weight: 600; */
    /* color: rgb(253, 176, 170); */
}
.m-heading{
    font-size: 3.5rem;
}
.s-heading{
    font-size: 1.6rem;
    /* color: rgb(238, 109, 92); */
    /* color: rgb(34, 194, 100); */
    font-weight: 500;
}
header{
    background: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.164)),url(../bg.jpg);
    height: 100vh;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
nav{
    background: linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.781));
    /* background: black; */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: +10;
    
}
.navitem{
    list-style-type: none;
    display: inline-block;
}
.navitem a{
    padding: 1rem 2rem;
    text-decoration: none;
    color: white;
    /* color: rgb(101, 231, 155); */
    font-size: 2rem;
    margin-right:1rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    transition-property: background-color;
    transition-duration: 0.2s;
    border-radius: 10rem;
    /* color: rgb(170, 253, 205);
    color: rgb(241, 192, 189); */
}
.logo{
    font-family: 'Lobster', cursive;
    color: white;
    /* color: rgb(101, 231, 155);
    color: rgb(170, 253, 205); */
    font-weight: 100;
    /* margin-left: 1rem; */
    font-size: 5rem;
    /* color: rgb(241, 192, 189); */
    animation: logopop 2s infinite;
}
@keyframes logopop{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.navitem a:hover{
    border-radius: 10rem;
    background: white;
    color: black;
}
.heading{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 70%;
    background: linear-gradient(rgba(0, 0, 0, 0.233), rgba(0, 0, 0, 0.281));
    padding: 2rem;
    color: white;
}
.heading a{
    display: inline-block;
    text-decoration: none;
    color: rgb(223, 78, 59);
    color: rgb(31, 107, 63);
    background: white;
    font-size: 2rem;
    padding: 0.3rem 2rem;
    border-radius: 5rem;
    margin-top: 1.3rem;
    /* border: solid 2px white; */
    font-weight: 500;
}
.heading a:hover{
    background: rgb(231, 231, 231);
    /* color: white; */
}
#about{
    padding: 4.5rem 0;
}
.top-head{
    font-size: 4.5rem;
    color: rgb(68, 194, 74);
    /* border-bottom: solid 3px #555; */
    text-align: center;
    padding: 1rem;
    box-shadow:  0px 0px 10px 2px rgba(73, 150, 38, 0.521);
    background: rgb(82, 187, 50);
    color: white;
    /* letter-spacing: 0.1em; */
    line-height: 1.3;
}
.para{
    font-size: 2.5rem;
    color: #555;
}
.mids{
    font-size: 2.5rem;
    margin-top: 3rem;
}
.tabbing{
    margin-left: 3rem;
}
.rightist label{
    font-size: 1.5rem;
    color: #555;
    font-weight: 700;
}
.rightist label .req{
    font-size: 1.5rem;
    color: red;
}
.rightist input{
    margin-top: 0.5rem;
    width: 95%;
    padding: 0.3em;
}
.rightist textarea{
    width: 95%;
    margin-top: 0.5rem;
    padding: 0.3em;
}
.rightist hr{
    height: 0.5rem;
    background: #555;
    width: 95%;
}
.rightist input[type="submit"]{
    display: inline-block;
    background: rgb(14, 30, 36);
    color: white;
    border:none;
    width: auto;
    font-weight: 700;
    padding:1rem 2rem;
    border-radius: 5em;
    box-shadow: 0px 0px 30px 0px #aaa;
    cursor: pointer;
    margin-left: 1rem;
}
.rightist input[type="submit"]:hover{
    padding:1.2rem 2.5rem;
}
.contact-wrapper .container{
    display: flex;
    padding: 3rem 0;
    /* border: solid 2px red; */
}
.rightist{
    width: 50%;
    color: #555;
}
.leftist h1, .rightist h1{
    font-size: 4rem;
    letter-spacing: 0.05em;
}
.leftist{
    width: 50%;
    /* padding-left: 10rem; */
    margin-top: 1rem;
}
.leftist p, .rightist p{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: black;
    width: 95%;
}
.leftist h2{
    color: #555;
    margin-top: 1rem;
    /* margin-left: 1rem; */
    display: inline-block;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.1em;
}
.leftist i{
    color: rgb(82, 187, 50);
    margin-right: 1rem;
}
.contact-wrapper .container{
    max-width: 95rem;
    width: 90%;
}
footer{
    text-align: center;
    color: white;
    padding: 2rem;
    background: black;
}
footer div p{
    font-size: 1.5rem;
}
.social i{
    margin: 0.5rem 1rem;
}